<% locales = %w[ru en uz] %>

<fieldset class="no-border-bottom">
  <legend>Slide</legend>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :image_url %>
        <%= f.text_field :image_url, class: 'form-control', placeholder: 'https://...' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :position %>
        <%= f.number_field :position, class: 'form-control', min: 0 %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :link_url %>
    <%= f.text_field :link_url, class: 'form-control', placeholder: '/ru/campaigns/... or https://...' %>
  </div>
</fieldset>

<fieldset class="no-border-bottom">
  <legend>Translations</legend>

  <ul class="nav nav-tabs" role="tablist">
    <% locales.each_with_index do |loc, i| %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if i.zero? %>"
           data-toggle="tab"
           href="#slide-locale-<%= loc %>"
           role="tab"><%= loc.upcase %></a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content" style="padding-top: 1rem;">
    <% locales.each_with_index do |loc, i| %>
      <div class="tab-pane fade <%= 'show active' if i.zero? %>"
           id="slide-locale-<%= loc %>"
           role="tabpanel">
        <div class="form-group">
          <%= f.label :"title_#{loc}", "Title (#{loc})" %>
          <%= f.text_field :"title_#{loc}", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :"subtitle_#{loc}", "Subtitle (#{loc})" %>
          <%= f.text_area :"subtitle_#{loc}", rows: 2, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :"cta_label_#{loc}", "CTA label (#{loc})" %>
          <%= f.text_field :"cta_label_#{loc}", class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Cancel',
              spree.edit_admin_labor_campaign_path(@campaign),
              class: 'btn btn-light' %>
</div>
